#ignore everything and then track folders
*
!*/

#things to track
!*.py
!*.sh
!*.slurm

!files/params_data.pkl
!files/params_model_*.pkl

!.gitignore
!.gitattributes

#specific things to ignore
*.out
__pycache__/
figures/old/
tables/old/
